css/debugging.css
package-lock.json
node_modules/
prueba*.*
.vscode/
css/style.css
assets/img/10x10.png
assets/img/30x30.png
assets/img/300x300.png
assets/img/github_icon.png
assets/img/imagen_formulario.png
assets/img/perfil.png
assets/img/Proyecto_1.png
assets/img/Proyecto_2.png
assets/img/Real_Time_IA_deaf_sign_MVP.gif
assets/img/telegram_icon.png
assets/img/whatsapp_icon.png
assets/video/Real_Time_IA_deaf_sign_MVP.mp4
assets/video/Real_Time_IA_deaf_sign_MVP (veed.io).mp4
