/* ################# FOOTER ################# */
footer {
    /* no uso height por ahora */
    min-height: 40px;
    background-color: $background-footer;
    position: sticky;
    bottom: 0px;
    left: 0;
    right: 0;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;

    #derechosReservados p {
        text-align: center;
        padding-block: 3%;
        padding-block: min(3%, 10px);
    }

    &>div {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        min-width: 50%;

        &>a {
            padding: min(3%, 7.5px) 4%;
            display: flex;

            &>i{
                display: flex;
                justify-self: center;
                align-self: center;

                &>svg {
                    height: 25px;
                    width: 25px;
                    color: $color-gris-1;
                }
            }
            
            &:hover>i>svg {
                color: $gradiente-fondo-h2-1;
            }
        }
    }
}
/* ----------------- FOOTER ----------------- */