.claseA{
    border-radius: 1px;

    >.claseA1 {
        border-radius: 2px;
    }

    >.claseA2{
        border-radius: 3px;

        >.claseB1{
            background-color: antiquewhite;
            border-top: 10px;
        }

        >.claseB2{
            @extend .claseB1;
            content: "claseB2";
            
            &>.claseC1{
                background-color: aqua;
                @extend .claseB3;
            }
        }
        
    }
    
    >.claseB3{
        content: "claseB3";
        // border-top: 0;
        @extend .claseB1;
    }
}