
$color-texto: rgb(147, 125, 209);
// /* color para probar texto */ $color-texto: rgb(179, 152, 253);
$color-texto_claro: rgb(179, 152, 253);

$body-background: rgb(0, 0, 0,0.95);

$color-1: rgba(155, 55, 255);
$color-2: rgba(199, 179, 255);
$color-3: rgba(128, 0, 255);
$color-4: rgba(160, 160, 160);
$color-5: rgba(79, 67, 142);

$color-gris-1: rgba(186, 186, 186);
$color-gris-2: rgb(150, 150, 150);
$color-gris-3: rgb(30, 30, 30);
// /* 👇🏻 $color-gris-2 * 20%; */
$color-gris-3: scale-color($color-gris-2, $lightness: -80%);
// 👇🏻 rgb(128, 128, 128);
$color-gris-4: gray;
$color-gris-5: rgba(160, 160, 160);


$color-h2: rgb(($color-2), 0.9);
$gradiente-fondo-h2-1: $color-1;
$gradiente-fondo-h2-2: $color-2;
$gradiente-borde-1: mix($color-1, $body-background, 70%);
$gradiente-borde-2: $color-2;
$gradiente-nav-1:   rgba(($color-1), 0.4) 0%;
$gradiente-nav-2:   rgb(($color-3), 0.05) 40%;

// variables por componente:
$border-perfil:     $color-5; // /* ex-H2 ex-colorBotón */
// otra alternativa de color: /* --background-intercalado: rgb(($color-gris-2),0.2); */
$background-intercalado: $color-gris-3;
$background-header: $color-gris-1;
$background-header: mix($color-gris-1 , $background-intercalado);
$background-footer: $color-gris-4;
$fondo: rgba(($color-gris-3),0.9);


$list_bullets: (
    ( "experiencia", 3, "•"),
    ( "experiencia", 4, "•"),
    ( "experiencia", 5, "-"),
    ( "proyectosLaborales", 2, "•"),
    ( "proyectosLaborales", 3, "*"),
    ( "proyectosLaborales", 4, "-"),
    ( "proyectosLaborales", 5, "-"),
);
    
$list_bulletsMaps: (
    (section: "experiencia", nChild: 3, bullet: "•"),
    (section: "experiencia", nChild: 4, bullet: "•"),
    (section: "experiencia", nChild: 5, bullet: "-"),
    (section: "proyectosLaborales", nChild: 2, bullet: "•"),
    (section: "proyectosLaborales", nChild: 3, bullet: "*"),
    (section: "proyectosLaborales", nChild: 4, bullet: "-"),
    (section: "proyectosLaborales", nChild: 5, bullet: "-"),
)